OAF_ENV=production
PORT=8787
OAF_BIND=127.0.0.1
OAF_SESSION_HOURS=168
OAF_TRUST_PROXY=1
OAF_COOKIE_SECURE=1
OAF_PUBLIC_URL=https://entregas.seudominio.com.br
OAF_DATA_DIR=/var/lib/oaf-entregas
OAF_LOG_DIR=/var/log/oaf-entregas
OAF_BACKUP_DIR=/var/backups/oaf-entregas
OAF_BACKUP_RETENTION_DAYS=30
OAF_SETUP_CODE=654321
